{% extends 'base.html' %}
{% load tailwind_filters %}
{% load humanize %}

{% block title %}
{{ author.name }}'s Profile
{% endblock title %}

{% block page-title %}
Profile
{% endblock page-title %}
{% block breadcrumbs %}
<li><a>authors</a></li> 
<li><a> {{ author.name }}</a></li> 
{% endblock %}
{% block content %}
<!-- profile section -->
<div class="md:flex bg-mono-50 rounded shadow-mono-400 md:p-0 p-2 lg:p-8 mt-2 md: m-0 dark:bg-mono-700 dark:text-mono-200">
    {%if user.profile_photo %}
    <img class="img-circle border bg-mono-50 md:w-50 h-56 mx-auto rounded-full md:rounded-none"  src="{{ user.profile_photo.url}}"/>
    {% else %}
    <img class="img-circle border bg-mono-50 md:w-50 h-56 mx-auto rounded-full md:rounded-none" src="{{ author.get_profile_image }}"/>
    {% endif %}
    <div class="text-center md:text-left my-1 p-1 w-full lg:my-4 lg:px-4 justify-center md:justify-left">
    <h1 class="text-4xl dark:text-mono-100 justify-center md:justify-left"> {{ author.name| capfirst }}</h1>
    {%if author.bio %}
    <p class="flex ">{{ author.bio| safe }}</p>
    {% else %}
    <p class="flex ">Writing is the secret technique to exploring worlds yet undiscovered.</p>
    {% endif %}
    <div class="flex ">
        {{ author.followers_count }} Followers  {% if author.website %}| {{ author.website| safe }} {% endif %} {% if author.location %}| {{ author.location| safe }}  {% endif %} {% if author.birth_date %}| {{ author.birth_date| safe }} {% endif %} | Earned | Views 
    </div>
    <div class="flex ">
       Joined {{ author.date_joined|date:'d, M' }}   {% if author.updated_at != author.date_joined %}| Updated Profile: {{ author.updated_at|naturaltime }} {% endif %} {% if author.location %}| {{ author.location| safe }}  {% endif %} {% if author.birth_date %}| {{ author.birthdate|date:'d, M' }} {% endif %} | {% if author.referral_id %}|  Introduced By: {{ author.referral_id.name | safe }}  {% endif %} | Views 
    </div>
    </div>
</div>
<!-- end profile -->
<!-- tabs -->
<div class="bg-mono-50 rounded shadow-mono-400 p-2 lg:p-8 mt-2 dark:bg-mono-700 dark:text-mono-200">
    <section id="tabs">
        <div x-data="{
            tabs: [ 'My Stories', 'Edited Stories', 'Followed Stories', 'Reviews',],
            activeProfile: 0
        }">
            <div class="tabs my-6">
                <template x-for="(tab, index) in tabs" :key="index">
                    <a class="tab tab-bordered dark:text-mono-200" 
                        :class="{'tab-active': activeProfile == index}"
                        x-on:click="activeProfile = index"
                        x-text=tab
                    ></a>
                </template>
            </div>
            <div class="my-6 p-6">
                <div x-show="activeProfile == 0">
                    <div class="text-2xl">{{ author.name| capfirst }}'s Stories</div><hr/>
                    <div class="text-mono-300">
                        {% comment %} {{ author.editors.all | pprint }} {% endcomment %}
                        {% for story in author.authors.all %}
                        {% include "core/partials/story.html" %}
                        {% empty %}
                        {{ author.name | title }} has not written any story
                        {% endfor %}
                    </div>
                </div>
                <div x-show="activeProfile == 1">
                    <div class="text-2xl">{{ author.name | capfirst }}'s Edited Stories</div><hr/>
                    <div class="text-mono-300">
                        {% for story in user.editors.all %}
                        {% include "core/partials/editor.html" %}
                        {% empty %}
                        {{ author.name | title }} has not edited any story
                        {% endfor %}
                    </div>
                </div>
                <div x-show="activeProfile == 2">
                    <div class="text-2xl">{{ author.name| capfirst }}'s Followed Stories</div><hr/>
                    <div class="text-mono-300">
                        {% for bookmark in bookmarks %}
                        {% include "core/partials/bookmark.html" %}
                        {% empty %}
                        {{ author.name | title }} has not followed any story yet.
                        {% endfor %}
                    </div>
                </div>
                <div x-show="activeProfile == 3">
                    <div class="text-2xl">{{ author.name| capfirst }}'s Reviews</div><hr/>
                    <div class="text-mono-300">
                        {% for review in reviews %}
                        {% include "stories/partials/review.html" %}
                        {% empty %}
                        {{ author.name | title }} has not written any review yet.
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
{% endblock content %}