{% extends 'base.html' %}
{% load tailwind_filters %}
{% load humanize %}

{% block title %}
{{ author.name }}'s Profile
{% endblock title %}

{% block page-title %}
Profile
{% endblock page-title %}
{% block breadcrumbs %}
<li><a>authors</a></li> 
<li><a> {{ author.name }}</a></li> 
{% endblock %}
{% block content %}
<!-- profile section -->
<div class="md:flex bg-mono-50 rounded shadow-mono-400 md:p-0 p-2 lg:p-8 mt-2 md: m-0 dark:bg-mono-700 dark:text-mono-200">
    {%if user.profile_photo %}
    <img class="img-circle border bg-mono-50 md:w-50 h-56 mx-auto rounded-full md:rounded-none"  src="{{ user.profile_photo.url}}"/>
    {% else %}
    <img class="img-circle border bg-mono-50 md:w-50 h-56 mx-auto rounded-full md:rounded-none" src="{{ author.get_profile_image }}"/>
    {% endif %}
    <div class="text-center md:text-left my-1 p-1 w-full lg:my-4 lg:px-4 justify-center md:justify-left">
    <h1 class="text-4xl dark:text-mono-100 justify-center md:justify-left"> {{ author.name| capfirst }}</h1>
    {%if author.bio %}
    <p class="flex ">{{ author.bio| safe }}</p>
    {% else %}
    <p class="flex ">Writing is the secret technique to exploring worlds yet undiscovered.</p>
    {% endif %}
    <div class="flex ">
        {{ author.followers_count }} Followers  {% if author.website %}| {{ author.website| safe }} {% endif %} {% if author.location %}| {{ author.location| safe }}  {% endif %} {% if author.birth_date %}| {{ author.birth_date| safe }} {% endif %} | Earned | Views 
    </div>
    <div class="flex ">
       Joined {{ author.date_joined|date:'d, M' }}   {% if author.updated_at != author.date_joined %}| Updated Profile: {{ author.updated_at|naturaltime }} {% endif %} {% if author.location %}| {{ author.location| safe }}  {% endif %} {% if author.birth_date %}| {{ author.birthdate|date:'d, M' }} {% endif %} | {% if author.referral_id %}|  Introduced By: {{ author.referral_id.name | safe }}  {% endif %} | Views 
    </div>
    </div>
</div>
<!-- end profile -->
<!-- tabs -->
<div class="bg-mono-50 rounded shadow-mono-400 p-2 lg:p-8 mt-2 dark:bg-mono-700 dark:text-mono-200">
    <section>
    <div x-data="{
        tabs: [ 'Stories', 'Edited', 'Followed', 'Reviews'],
        activeTabIndex: 0
    }">
        <div class="tabs my-6">
            <template x-for="(tab, index) in tabs" :key="index">
                <a class="tab tab-bordered dark:text-mono-200" 
                    :class="{'tab-active': activeTabIndex == index}"
                    x-on:click="activeTabIndex = index"
                    x-text=tab
                ></a>
            </template>
        </div>
        <div class="my-6 p-6">
            <div x-show="activeTabIndex == 0">
                <div class="text-2xl">{{ author.name| capfirst }}'s Stories</div><hr/>
            <div class="text-mono-300">
                {% comment %} {{ author.editors.all | pprint }} {% endcomment %}
                {% for story in author.authors.all %}
                <div class="flex flex-col scale-98 hover:scale-100 transition duration-300 ease-in-out m-4">
                    <div class="bg-white shadow-md  rounded-3xl p-4">
                        <div class="flex-none lg:flex">
                            <div class=" h-full w-full lg:h-48 lg:w-48   lg:mb-0 mb-3">
                                <a href="{{ story.get_absolute_url }}">
                                <img src="{{ story.get_cover }}"
                                    alt="{{ story.title }}" class="w-full object-scale-down lg:object-cover  lg:h-48 rounded-2xl">
                                </a>
                                </div>
                            <div class="flex-auto ml-3 justify-evenly py-2">
                                <a href="{{ story.get_absolute_url }}">
                                    <div class="flex flex-wrap ">
                                        <a href="{{ story.story_type.get_absolute_url }}" class="w-full flex-none text-xs text-mono-700 font-medium ">
                                            {{ story.story_type.name }}
                                        </a>
                                        <h2><a href="{{ story.get_absolute_url }}" class="flex-auto text-lg font-medium">{{ story.title }}</a></h2>
                                    </div>
                                    <p class="flex-auto text-lg font-medium">                          
                                            Written by:{% for author in story.author.all %}
                                        <span class="badge badge-accent bg-mono-400"> 
                                            <a href="{% url 'core:author' author.username %}">{{ author.name }}</a>
                                        </span>
                                    {% endfor %}</p>
                                    <div class="flex pb-2 mt-3 border-t border-mono-500 dark:border-mono-200 "></div>
                                    <div class="mt-3 flex py-4  text-sm text-mono-500">
                                        <a href="{{ story.get_absolute_url }}">
                                        <div class="flex-1 inline-flex items-center">
                                            {{ story.summary | safe }}
                                        </div>
                                    </a>
                                    </div>
                                </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                {{ author.name | title }} has not written any story
                {% endfor %}
            </div>
            </div>
                <div x-show="activeTabIndex == 1">
                    <div class="text-2xl">{{ author.name | capfirst }}'s Edited Stories</div><hr/>
                <div class="text-mono-300">
                    {% for story in user.editors.all %}
                    <div class="flex flex-col scale-95 hover:scale-105 transition duration-300 ease-in-out">
                        <div class="bg-white shadow-md  rounded-3xl p-4">
                            <div class="flex-none lg:flex">
                                <div class=" h-full w-full lg:h-48 lg:w-48   lg:mb-0 mb-3">
                                    <a href="{{ story.get_absolute_url }}">
                                    <img src="{{ story.get_cover }}"
                                        alt="{{ story.title }}" class="w-full object-scale-down lg:object-cover  lg:h-48 rounded-2xl">
                                    </a>
                                    </div>
                                <div class="flex-auto ml-3 justify-evenly py-2">
                                    <a href="{{ story.get_absolute_url }}">
                                        <div class="flex flex-wrap ">
                                            {% comment %} <a href="{{ story.story_type.get_absolute_url }}" class="w-full flex-none text-xs text-mono-700 font-medium ">
                                                {{ story.story_type.name }}
                                            </a> {% endcomment %}
                                            <h2><a href="{{ story.get_absolute_url }}" class="flex-auto text-lg font-medium">{{ story.title }}</a></h2>
                                        </div>
                                        <p class="flex-auto text-lg font-medium">                          
                                                Written by:{% for author in story.author.all %}
                                            <span class="badge badge-accent bg-mono-400"> 
                                                <a href="{% url 'core:author' author.username %}">{{ author.name }}</a>
                                            </span>
                                        {% endfor %}</p>
                                        <div class="flex pb-2 mt-3 border-t border-mono-500 dark:border-mono-200 "></div>
                                        <div class="mt-3 flex py-4  text-sm text-mono-500">
                                            <a href="{{ story.get_absolute_url }}">
                                            <div class="flex-1 inline-flex items-center">
                                                {{ story.summary | safe }}
                                            </div>
                                        </a>
                                        </div>
                                    </a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    {{ author.name | title }} has not edited any story
                    {% endfor %}
                </div>
                </div>
            <div x-show="activeTabIndex == 2">
                Followed stories： Chapter {{ story.chapters_set.last.position  }}: <a href="{{ story.chapters_set.last.get_absolute_url }}">{{ story.chapters_set.last.title | title }}</a> {{ story.chapters_set.last.created_at | timesince }}<hr class="mt-5">
                <div class="columns-2">
                {% for chapter in story.chapters_set.all %}
                <div class="p-4">
                {{ chapter.position }} <a class="text-mono-800" href="{{ chapter.get_absolute_url }}">{{ chapter.title | title }}</a> <br>
                <p class="text-xs text-mono-400"> {{ chapter.created_at | timesince }} ago</p>
                </div>
                {% endfor %}
            </div>
            </div>
            <div x-show="activeTabIndex == 3">Reviews<br>Coming Soon</div>
        </div>
    </div>
</section>
</div>
{% endblock content %}