{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
Edit: {{ form.title.value | title }}
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{% url 'author:dashboard' %}">Author</a></li> 
<li><a href="{{ story.story.get_absolute_url }}">{{ form.title.value | title }}</a></li> 
<li><a>Update</a></li> 
{% endblock %}
{% block content %}
<!-- Story Detials -->
<section class="w-full">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ story.story.id }}
        {{ form.id.value | title }}
        {% include 'stories/includes/add_reference.html' with story=story.story.id %}
        <button type="submit" class="btn border-none bg-green-500 text-mono-50">Update Story</button>
    </form>
</section>
{% endblock content %}