{% extends 'base.html' %}
{% load flag_tags %}
{% block title %}
{{ story.title | title }}
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{{ story.story_type.get_absolute_url}}">{{ story.story_type.name }}</a></li> 
<li><a>{{ story.title }}</a></li> 
{% endblock %}
{% block content %}
<!-- Story Detials -->
<section class="w-full">
    <div class="flex hover:flex-auto">
        <div class="md:w-1/6 w-full">
            <img class="aspect-square hover:saturate-200 transition duration-300 ease-in-out shadow-lg rounded max-w-50 h-auto align-middle border-none" src="{{ story.get_cover }}"/>
        </div>
        <div class="w-full md:5/6 p-2 mx-auto">
            <span>
                {% render_flag_form story user request %}
                </span>
            <div class="flex space-x-2 flex-wrap">
                <h1 class="text-2xl md:text-5xl dark:text-mono-100">{{ story.title | title }}</h1>
                <span class="badge p-4 bg-black">{{ story.abbreviation }}</span>
            </div>
            <!-- genre status chapter views-->
            <div class="flex space-x-2 flex-wrap justify justify-space">
                <div class="p-2">
                    {{ story.genre.first.name }}
                </div>
                <div class="p-2">
                    {{ story.status | title }}
                </div>
                <div class="p-2">
                    {{ story.chapter_count  }} Chapter{{ story.chapter_count |pluralize }}
                </div>
                <div class="p-2">
                    123M Views
                </div>
            </div>
            <div class="flex space-x-2 flex-wrap">
                <div class="">
                    Author{{ story.authors_count |pluralize }}: 
                    {% for author in story.author.all %}
                        <span class="badge badge-accent bg-mono-400"> 
                            {{ author.name }}
                        </span>
                    {% empty %}
                        <span class="badge-accent"> 
                            Ghost Author
                        </span>
                    {% endfor %}
                </div>
                <div class="">
                    Editor{{ story.editors_count |pluralize }}: {{ story.editor.name | default:"Ghost" }}
                </div>
            </div>
            <div class="flex space-x-2 flex-wrap">
                {% include "stories/partials/following.html" %}
                {% include "stories/partials/like.html" %}
                {% include "stories/partials/dislike.html" %}
            </div>
            <div class="w-full flex flex-wrap space-x-2">
                {% if user.is_authenticated %}
                <a href="{{ story.get_read_user }}" class="btn btn-primary rounded-full">Read Change</a>
                {% else %}
                <a href="{{ story.get_read_guest }}" class="btn btn-primary rounded-full">Read</a>
                {% endif %}

                <a href="{% url 'author:create-chapter' chapter.id %}" class="btn btn-primary rounded-full">Add Chapter</a>
            </div>
            
        </div>
    </div>
</section>
<div class="bg-mono-50 rounded shadow-mono-400 p-2 lg:p-8 mt-2">
    <section>
    <div x-data="{
        tabs: [ 'About', 'Table of Content', 'Reviews'],
        activeTabIndex: 0
    }">
        <div class="tabs my-6">
            <template x-for="(tab, index) in tabs" :key="index">
                <a class="tab tab-bordered" 
                    :class="{'tab-active': activeTabIndex == index}"
                    x-on:click="activeTabIndex = index"
                    x-text=tab
                ></a>
            </template>
        </div>
        <div class="my-6 p-6">
            <div x-show="activeTabIndex == 0">
                <div class="text-2xl">Synopsis</div>
            <div class="text-mono-500">
                {{ story.summary | safe }}
            </div>
            </div>
            <div x-show="activeTabIndex == 1">
                Latest Release： Chapter {{ story.chapters_set.last.position  }}: <a href="{{ story.chapters_set.last.get_absolute_url }}">{{ story.chapters_set.last.title | title }}</a> {{ story.chapters_set.last.created_at | timesince }}<hr class="mt-5">
                <div class="columns-2">
                {% for chapter in story.chapters_set.all %}
                <div class="p-4">
                {{ chapter.position }} <a class="text-mono-800" href="{{ chapter.get_absolute_url }}">{{ chapter.title | title }}</a> <br>
                <p class="text-xs text-green-mono-400"> {{ chapter.created_at | timesince }} ago</p>
                <a href="{% url 'author:update-chapter' chapter.id %}" class="btn btn-sm bg-mono-400 dark:bg-rebel-500 border-0">Update</a>
                <a href="{% url 'author:delete-chapter' chapter.id %}" class="btn btn-sm bg-mono-300 dark:bg-tiber-500 border-0">Delete</a>
                </div>
                {% endfor %}
            </div>
            </div>
            <div x-show="activeTabIndex == 2">Reviews<br>Coming Soon</div>
        </div>
    </div>
</section>
  
    <section>
        <div class="text-2xl">Tags</div>
        {% for tag in story.tags.all %}
        <div class="badge bg-mono-300 border-none p-4 text-mono-50">
        <a href="{{ tag.get_absolute_url }}">{{ tag.name | title }}</a>
        </div>
        {% endfor %}
    </section>
    <section>
        <div class="text-2xl">Similar Stories</div>
        Recommendation
    </section>
</div>
</div>
{% endblock content %}