{% extends 'base.html' %}

{% block title %}
Takadah
{% endblock title %}
{% block breadcrumbs%}
{% endblock %}

{% block content %}
<div class="">
{% if weekly %}
<!-- Weekly Featured -->
    <section id="weekly" class="block min-w-full max-w-full">
        <div class="text-2xl border-b-2 border-mono-600">Weekly Featured</div><br>
        <div class="flex flex-wrap -mx-1 lg:-mx-4">
            {% for story in weekly %}
                <!-- Column -->
                <div class="my-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">
            
                    <!-- Article -->
                    <article class="overflow-hidden hover:grayscale transition duration-300 ease-in-out">
            
                        <a href="{{ story.get_absolute_url}}">
                            <img alt="{{ story.title | lower }}" class="block h-auto w-full hover:scale-80 hover:saturate-200 transition duration-300 ease-in-out rounded-lg shadow-lg " src="{{ story.get_cover }}">
                        </a>
            
                        <header class="flex items-start justify-start leading-tight p-2 md:p-4">
                            <p class="text-sm font-bold">
                                <a class="no-underline hover:underline text-black" href="{{ story.get_absolute_url}}">
                                    {{ story.title | title }}
                                </a>
                            </p>
                        </header>
                        <footer class="leading-none md:-mt-7 p-1 md:p-4">
                            <a class="no-underline hover:text-mono-400 text-mono-400" href="{{ story.genre.first.get_absolute_url }}">
                                <p class="text-sm text-mono-300">
                                {{ story.genre.first.name }}
                                </p>
                            </a>
                        </footer>
            
                    </article>
                    <!-- END Article -->
            
                </div>
                <!-- END Column -->
            {% empty %}
            <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
            {% endfor %}
            </div>
    </section>    
<!-- end Weekly Featured -->
{% endif %}
{% if potential %}
<!-- Potential -->
<section id="potential">
    <div class="text-2xl border-b-2 border-mono-600">Pontential Stars</div><br>
</section>    
<!-- end Potential -->
{% endif %}
{% if fresh %}
<!-- new -->
<section id="fresh">
    <div class="text-2xl border-b-2 border-mono-600">New Stories</div><br>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        {% for story in fresh %}
        </div>
            <!-- Column -->
            <div class="my-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">
        
                <!-- Article -->
                <article class="hover:scale-80 transition duration-300 ease-in-out">
        
                    <a href="{{ story.get_absolute_url}}" class="md:w-1/6 w-full">
                        <img alt="{{ story.title | lower }}" class="block h-auto w-full hover:scale-105 hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg " src="{{ story.get_cover }}">
                    </a>
        
                    <header class="flex items-start justify-start leading-tight p-2 md:p-4">
                        <p class="text-sm font-bold">
                            <a class="no-underline hover:underline text-black" href="{{ story.get_absolute_url }}">
                                {{ story.title | title }}
                            </a>
                        </p>
                    </header>
                    <footer class="leading-none md:-mt-7 p-1 md:p-4">
                        <a class="no-underline hover:text-mono-400 text-mono-400" href="{{ story.genre.first.get_absolute_url }}">
                            <p class="text-sm text-mono-300">
                            {{ story.genre.first.name }}
                            </p>
                        </a>
                    </footer>
        
                </article>
                <!-- END Article -->
        
            </div>
            <!-- END Column -->
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
        </div>
</section>    
<!-- end new -->
{% endif %}
{% if fresh %}
<section id="fresh-2">
    <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-8">
        {% for story in fresh %}
        <!-- start call-->
        <div class="group relative">
            <div class="w-full h-56 rounded-md overflow-hidden group-hover:opacity-75 lg:h-72 xl:h-80">
                <img class="w-full h-full object-cover object-center"  loading="lazy" srcset={{ story.get_cover }}" onload="window.requestAnimationFrame(function(){if(!(size=getBoundingClientRect().width))return;onload=null;sizes=Math.ceil(size/window.innerWidth*100)+'vw';});" sizes="1px" src="{{ story.get_cover }}" alt="{{ story.title | slugify }}" width="800" height="1000">
        
            </div>
            <div class="mt-4 flex items-start justify-between">
                <h3 class="text-sm text-gray-700">
                    <a href="{{ story.get_absolute_url}}">
                        <span class="absolute inset-0"></span>
                        {{ story.title | title }}
                    </a>
                </h3>
                <p class="ml-4 text-sm font-medium text-gray-900">
                    {{ story.genre.first.name }}
                </p>
            </div>
            <!-- end -->
            {% endfor %}
    </div>
</section>
{% endif %}
{% if completed %}
<!-- Completed -->
<section id="completed" class="block min-w-full max-w-full">
    <div class="text-2xl border-b-2 border-mono-600">Completed</div><br>
    <div class="flex flex-wrap -mx-1 lg:mx-4">
        {% for story in completed %}
            <!-- Column -->
            <div class="my-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">
        
                <!-- Article -->
                <article class="overflow-hidden hover:scale-110 transition duration-300 ease-in-out">
        
                    <a href="{{ story.get_absolute_url}}">
                        <img alt="{{ story.title | lower }}" class="block h-auto w-full hover:scale-110 transition duration-300 ease-in-out rounded-lg shadow-lg " src="{{ story.get_cover }}">
                    </a>
        
                    <header class="flex items-start justify-start leading-tight p-2 md:p-4">
                        <p class="text-sm font-bold">
                            <a class="no-underline hover:underline text-black" href="{{ story.get_absolute_url}}">
                                {{ story.title | title }}
                            </a>
                        </p>
                    </header>
                    <footer class="leading-none md:-mt-7 p-1 md:p-4">
                        <a class="no-underline hover:text-mono-400 text-mono-400" href="{{ story.genre.first.get_absolute_url }}">
                            <p class="text-sm text-mono-300">
                            {{ story.genre.first.name }}
                            </p>
                        </a>
                    </footer>
        
                </article>
                <!-- END Article -->
        
            </div>
            <!-- END Column -->
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
        </div>
</section>    
<!-- end Completed -->
{% endif %}
{% if tags %}
<!-- Tags -->
<section id="potential">
    <div class="text-2xl border-b-2 border-mono-600">Popular Tags</div><br>
</section>    
<!-- end Tags -->
{% endif %}
</div>
{% endblock content %}