{% extends "dashboard.html" %}
{% load tailwind_filters %}

{% block breadcrumbs %}
<li><a href="{% url "stories:author:dashboard" %}">Author</a></li> 
<li><a href="{% url "stories:author:show" story.id %}">Story</a></li> 
<li><a>Packages</a></li> 
<li><a>{{ package.name }}</a></li>
{% endblock %}
{% block content %}
  <div class="p-8 rounded bg-mono-50 shadow-mono-400 dark:bg-mono-800 dark:text-mono-50">
    <div class="py-8">
      <h2 class="text-2xl font-bold mb-2">{{ title }}</h2>
      {% comment %} <form class="w-full " method="POST" action="{{ action_url }}" hx-post="{{ post_url }}"> {% endcomment %}
        <form class="w-full " method="POST">
        {% csrf_token %}
        {{ form  }}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Create Package
        </button>
      </form>
    </div>
  </div>
{% endblock %}