<!-- list.html -->
{% extends 'base.html' %}

{% block breadcrumbs %}
<li><a href="{% url "stories:author:dashboard" %}">Author</a></li> 
<li><a href="{% url "stories:author:show" story %}">Story</a></li> 
<li><a>Packages</a></li> 
{% endblock %}
{% block content %}
  <div class="p-8 rounded bg-mono-50 shadow-mono-400 dark:bg-mono-800 dark:text-mono-200">
    <h2 class="text-2xl font-bold leading-7 mb-4">Packages List</h2>

    <a href="{% url 'sponsor:author:package-create' story %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2">Create Package</a>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Story</th>
          <th class="px-4 py-2">Package Name</th>
          <th class="px-4 py-2">Advance Chapters</th>
          <th class="px-4 py-2">Amount Charged</th>
          <th class="px-4 py-2">Sponsors</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for package in packages %}
          <tr>
            <td class="border px-4 py-2">{{ package.id }}</td>
            <td class="border px-4 py-2">{{ package.story.title }}</td>
            <td class="border px-4 py-2">{{ package.name }}</td>
            <td class="border px-4 py-2">${{ package.advance }}</td>
            <td class="border px-4 py-2">{{ package.amount }} Chapter{{ package.amount|pluralize }}</td>
            <td class="border px-4 py-2">{{ package.counts }}</td>
            <td class="border px-4 py-2">
              <a href="{% url 'sponsor:author:package-update' story package.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">Edit</a>
              <a href="#" hx-delete="{% url 'sponsor:author:package-delete' story package.id %}" hx-target="#package-{{ package.id }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Delete</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="border px-4 py-2 text-center" colspan="8">No packages found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
