{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="{% url "stories:author:dashboard" %}">Author</a></li> 
<li><a href="{% url "stories:author:show" story %}">Story</a></li> 
<li><a>Packages</a></li> 
<li><a>{{ form.name.value }}</a></li>
{% endblock %}
{% block content %}
<div class="p-8 rounded bg-mono-50 shadow-mono-400 dark:bg-mono-800 dark:text-mono-200">
  <h1 class="text-3xl font-bold mb-6">Delete Package</h1>
  
  <div class="max-w-2xl bg-white rounded-md shadow-md p-6">
    <form hx-delete="{% url 'package-delete' package.id %}" hx-target="#package-list">
      {% csrf_token %}
      <p class="text-xl font-bold mb-4">Are you sure you want to delete "{{ package.name }}"?</p>
      <p class="text-gray-600 text-sm mb-4">Deleting this package will remove all associated package subscriptions.</p>
      <div class="flex justify-end">
        <button type="button" class="px-4 py-2 bg-gray-500 text-white rounded-md mr-4" hx-get="{% url 'package-list' %}" hx-target="#package-list">Cancel</button>
        <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded-md">Delete</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}