# Specify filepatterns you want git to ignore.
**/__pycache__
*/*/__pycache__
node_modules
static/*
node_modules/*
# Django #
*.log
*.pot
*.pyc
__pycache__
# db.sqlite3
# media

# Backup files # 
*.bak 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
