{% extends 'base.html' %}
{% block breadcrumbs %}
  <li>Pricing</li>
{% endblock breadcrumbs %}
{% block content %}
<div class="container mx-auto justify-center">
<h1 class="text-xs text-2xl dark:text-opacity-50">We believe that our success is directly tied to yours.</h1>
<p>It’s completely free to get started. We only receive a small percentage once you start earning on Takadah, plus an industry-standard rate for processing payments from your sponsors.</p>
</div>

<div class="antialiased max-w-6xl mx-auto my-12 px-8">
    
  
    <div class="relative block md:flex items-center">
      <div class="w-full md:w-1/2 relative z-1 bg-mono-100 rounded shadow-lg overflow-hidden">
        <div class="text-lg font-medium text-tiber-500 uppercase p-8 text-center border-b border-mono-200 tracking-wide">Payment Processing Fees</div>
        <div class="block sm:flex md:block lg:flex items-center justify-center">
          <div class="mt-8 sm:m-8 md:m-0 md:mt-8 lg:m-8 text-center">
            <div class="inline-flex items-center">
              <span class="text-3xl font-medium">2.9%</span>
              <span class="text-xl text-mono-600 ml-2">+</span>
              <span class="text-xl ml-2">30¢</span>
            </div>
            {% comment %} <span class="block text-sm text-mono-600 mt-2">for European cards</span> {% endcomment %}
          </div>
          {% comment %} <div class="mt-4 mb-8 sm:m-8 md:m-0 md:mt-4 md:mb-8 lg:m-8 text-center">
            <div class="inline-flex items-center">
              <span class="text-3xl font-medium">2.9%</span>
              <span class="text-xl text-mono-600 ml-2">+</span>
              <span class="text-xl ml-2">20p</span>
            </div>
            <span class="block text-sm text-mono-600 mt-2">for non-European cards</span>
          </div> {% endcomment %}
        </div>
        <div class="flex justify-center mt-3">
          <ul>
            <li class="flex items-center">
              <div class="bg-tiber-200 rounded-full p-2 fill-current text-tiber-700">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-umbrella"><path class="primary" d="M11 3.05V2a1 1 0 0 1 2 0v1.05A10 10 0 0 1 22 13c0 1.33-2 1.33-2 0a2 2 0 1 0-4 0c0 1.33-2 1.33-2 0a2 2 0 1 0-4 0c0 1.33-2 1.33-2 0a2 2 0 1 0-4 0c0 1.33-2 1.33-2 0a10 10 0 0 1 9-9.95z"/><path class="secondary" d="M11 14a1 1 0 0 1 2 0v5a3 3 0 0 1-6 0 1 1 0 0 1 2 0 1 1 0 0 0 2 0v-5z"/></svg>
              </div>
              <span class="text-mono-700 text-lg ml-3">No setup, monthly, or hidden fees</span>
            </li>
            <li class="flex items-center mt-3">
              <div class="bg-tiber-200 rounded-full p-2 fill-current text-tiber-700">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-shopping-bag"><path class="primary" d="M5 8h14a1 1 0 0 1 1 .92l1 12A1 1 0 0 1 20 22H4a1 1 0 0 1-1-1.08l1-12A1 1 0 0 1 5 8z"/><path class="secondary" d="M9 10a1 1 0 0 1-2 0V7a5 5 0 1 1 10 0v3a1 1 0 0 1-2 0V7a3 3 0 0 0-6 0v3z"/></svg>
              </div>
              <span class="text-mono-700 text-lg ml-3">Pay only for what you earn</span>
            </li>
            <li class="flex items-center mt-3">
              <div class="bg-tiber-200 rounded-full p-2 fill-current text-tiber-700">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-pie-chart"><path class="primary" d="M14 13h6.78a1 1 0 0 1 .97 1.22A10 10 0 1 1 9.78 2.25a1 1 0 0 1 1.22.97V10a3 3 0 0 0 3 3z"/><path class="secondary" d="M20.78 11H14a1 1 0 0 1-1-1V3.22a1 1 0 0 1 1.22-.97c3.74.85 6.68 3.79 7.53 7.53a1 1 0 0 1-.97 1.22z"/></svg>
              </div>
              <span class="text-mono-700 text-lg ml-3">Real-time fee reporting</span>
            </li>
          </ul>
        </div>
        <a class="block flex items-center justify-center bg-mono-200 hover:bg-mono-300 p-8 text-md font-semibold text-mono-800 uppercase mt-16" href="{% url 'core:register' %}">
          <span>Create account</span>
          <span class="font-medium text-mono-700 ml-2">➔</span>
        </a>
      </div>
      <div class="w-full md:w-1/2 relative z-0 px-8 md:px-0 md:py-16">
        <div class="bg-tiber-900 text-white rounded-b md:rounded-b-none md:rounded-r shadow-lg overflow-hidden">
          <div class="text-lg font-medium uppercase p-8 text-center border-b border-tiber-800 tracking-wide">Our Fees</div>
          <div class="text-center text-sm sm:text-md max-w-sm mx-auto mt-8 text-tiber-200 px-8 lg:px-0">
            5% of the monthly income you earn on Takadah 
          </div>
          <a class="block flex items-center justify-center bg-tiber-800 hover:bg-tiber-700 p-8 text-md font-semibold text-mono-300 uppercase mt-8" href="{% url 'two_factor:login' %}">
            <span>Login</span>
            <span class="font-medium text-mono-300 ml-2">➔</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}