{% extends 'dashboard.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
{{ story.title | title }} - New Chapter
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{% url 'stories:author:dashboard' %}">Author</a></li> 
{% comment %} <li><a href="{{ story.story_type.get_absolute_url}}">{{ story.story_type.name }}</a></li>  {% endcomment %}
<li><a href="{% url 'stories:author:show' story.id %}">{{ story.title }}</a></li> 
<li><a>Add new Chapter</a></li> 
{% endblock %}
{% block content %}
<!-- Add Chapter -->
<section class="w-full">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn bg-[{{ settings.color }}] opacity-80">Add Chapter</button>
    </form>
</section>
{% endblock content %}