<div class="flex flex-col scale-98 hover:scale-100 transition duration-300 ease-in-out m-4">
    <div class="bg-white shadow-md  rounded-3xl p-4">
        <div class="flex-none lg:flex">
            <div class=" h-full w-full lg:h-48 lg:w-48   lg:mb-0 mb-3">
                <a href="{{ story.get_absolute_url }}">
                <img src="{{ story.get_cover }}"
                    alt="{{ story.title }}" class="w-full object-scale-down lg:object-cover  lg:h-48 rounded-2xl">
                </a>
                </div>
            <div class="flex-auto ml-3 justify-evenly py-2">
                <a href="{{ story.get_absolute_url }}">
                    <div class="flex flex-wrap ">
                        <a href="{{ story.story_type.get_absolute_url }}" class="w-full flex-none text-xs text-mono-700 font-medium ">
                            {{ story.story_type.name }}
                        </a>
                        <h2><a href="{{ story.get_absolute_url }}" class="flex-auto text-lg font-medium">{{ story.title }}</a></h2>
                    </div>
                    <p class="flex-auto text-lg font-medium">                          
                            Written by:{% for author in story.author.all %}
                        <span class="badge badge-accent bg-mono-400"> 
                            <a href="{% url 'core:author' author.username %}">{{ author.name }}</a>
                        </span>
                    {% endfor %}</p>
                    <div class="flex pb-2 mt-3 border-t border-mono-500 dark:border-mono-200 "></div>
                    <div class="mt-3 flex py-4  text-sm text-mono-500">
                        <a href="{{ story.get_absolute_url }}">
                        <div class="flex-1 inline-flex items-center">
                            {{ story.summary | safe }}
                        </div>
                    </a>
                    </div>
                </a>
        </div>
    </div>
</div>