{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
Bookmarks
{% endblock title %}

{% block page-title %}
Bookmarks
{% endblock page-title %}
{% block breadcrumbs %}
<li><a href="{% url 'core:index' %}">Home</a></li> 
<li><a>Bookmarks</a></li> 
{% endblock %}
{% block content %}
<div class="container bg-white rounded shadow-blue-400 my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
{% for bookmark in bookmarks %}
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/6">

        <!-- Article -->
        <article class="overflow-hidden hover:scale-110 transition duration-300 ease-in-out">

            <a href="{{ bookmark.story.get_absolute_url}}">
                <img alt="Placeholder" class="block h-auto w-full hover:scale-110 transition duration-300 ease-in-out rounded-lg shadow-lg " src="{{ bookmark.story.get_cover }}">
            </a>

            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                <p class="text-sm font-bold">
                    <a class="no-underline hover:underline text-black" href="{{ bookmark.story.get_absolute_url}}">
                        {{ bookmark.story.title | title }}
                    </a>
                </p>
            </header>
            <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                <a class="flex items-center no-underline hover:text-blue-400 text-black" href="{{ bookmark.story.chapters_set.last.get_absolute_url }}">
                    <p class="text-sm text-grey-300">Progress 0 of {{ bookmark.story.chapters_set.count }}</p>
                </a>
            </footer>

        </article>
        <!-- END Article -->

    </div>
    <!-- END Column -->
{% empty %}
<h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
{% endfor %}
</div>
</div>
{% endblock content %}