{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
{{ story.title | title }}
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{{ story.story_type.get_absolute_url}}">{{ story.story_type.name }}</a></li> 
<li><a>{{ story.title }}</a></li> 
{% endblock %}
{% block content %}
<!-- Story Detials -->
<section class="w-full">
    <div class="columns-3 hover:columns-2">
        <div class="full">
            <img class="aspect-square hover:scale-110 transition duration-300 ease-in-out shadow-lg rounded max-w-50 h-auto align-middle border-none" src="{{ story.get_cover }}"/>
        </div>
        <div class="w-full">
            <div class="flex justify-evenly">
                <h1 class="">{{ story.title | title }}</h1>
                <span class="badge p-4 bg-black">{{ story.abbreviation }}</span>
            </div>
            <!-- genre status chapter views-->
            <div class="flex justify-evenly">
                <div class="p-2">
                    {{ story.genre.first.name }}
                </div>
                <div class="p-2">
                    {{ story.status | title }}
                </div>
                <div class="p-2">
                    {{ story.chapter_count  }} Chapter{{ story.chapter_count |pluralize }}
                </div>
                <div class="p-2">
                    123M Views
                </div>
            </div>
            <div class="flex justify-evenly">
                <div class="">
                    Author{{ story.authors_count |pluralize }}: {{ story.authors.first.name | default:"Ghost" }}
                </div>
                <div class="">
                    Editor{{ story.editors_count |pluralize }}: {{ story.editor.name | default:"Ghost" }}
                </div>
            </div>
            <div class="flex justify-evenly">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 mr-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
</svg>: {{ story.following_count  }}

<!-- unfollow <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
</svg> -->
                </div>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 mr-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
</svg>: {{ story.likes_count }}
                </div>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 mr-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
</svg>: {{ story.dislikes_count }}
                </div>
            </div>
            <div class="w-full">
                {% if user.is_authenticated %}
                <a href="{{ story.get_read_user }}" class="btn btn-primary rounded-full">Read Change</a>
                {% else %}
                <a href="{{ story.get_read_guest }}" class="btn btn-primary rounded-full">Read</a>
                {% endif %}

                <a href="{{ story.chapters_set.last.get_absolute_url }}" class="btn bg-blue-300 rounded-full text-blue-800">Add to Library</a>
            </div>
        </div>
    </div>
</section>
<div class="bg-white rounded shadow-blue-400 p-2 lg:p-8 mt-2">
    <div x-data="{
		tabs: [ 'About', 'Table of Content', 'Reviews'],
		activeTabIndex: 0
	}">
		<div class="tabs my-6">
			<template x-for="(tab, index) in tabs" :key="index">
				<a class="tab tab-bordered" 
					:class="{'tab-active': activeTabIndex == index}"
					x-on:click="activeTabIndex = index"
					x-text=tab
				></a>
			</template>
		</div>
		<div class="my-6 p-6">
			<div x-show="activeTabIndex == 0">
                <div class="text-2xl">Synopsis</div>
            <div class="text-gray-500">
                {{ story.summary | safe }}
            </div>
            </div>
			<div x-show="activeTabIndex == 1">
                Latest Release： Chapter {{ story.chapters_set.last.position  }}: <a href="{{ story.chapters_set.last.get_absolute_url }}">{{ story.chapters_set.last.title | title }}</a> {{ story.chapters_set.last.created_at | timesince }}<hr class="mt-5">
                <div class="columns-2">
                {% for chapter in story.chapters_set.all %}
                <div class="p-4">
                {{ chapter.position }} <a href="{{ chapter.get_absolute_url }}">{{ chapter.title | title }}</a> <br>
                <p class="text-xs text-green-blue-400"> {{ chapter.created_at | timesince }} </p>
                </div>
                {% endfor %}
            </div>
            </div>
			<div x-show="activeTabIndex == 2">Reviews<br>Coming Soon</div>
		</div>
	</div>

    <section>
        <div class="text-2xl">Tags</div>
        {% for tag in story.tags.all %}
        <div class="badge bg-orange-300 border-none p-4">
        <a href="{{ tag.get_absolute_url }}">{{ tag.name | title }}</a>
        </div>
        {% endfor %}
    </section>
    <section>
        <div class="text-2xl">Recommendation</div>
        Recommendation
    </section>
</div>
{% endblock content %}