{% extends 'base.html' %}

{% block title %}
{{ categories.first.category.name | title }} Category
{% endblock title %}

{% block breadcrumbs %}
<li><a href="{% url 'blog:list' %}">Blog</a></li>
<li>{{ categories.first.category.name }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <section class="mt-32">
        <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="grid gap-y-20 md:grid-cols-2 md:gap-x-6 lg:gap-x-12">
            {% for post in categories %}
                <div>
                    <a href="{{ post.get_absolute_url }}" class="group block">
                        <img class="rounded-3xl shadow-2xl shadow-transparent transition-shadow duration-300 group-hover:shadow-mono-600/20" src="{{ post.get_featured_image }}" alt="{{ post.slug }}" loading="lazy" width="1556" height="778" />
                        <div class="mt-8">
                            <h2 class="text-2xl font-bold text-mono-800 dark:text-mono-100">{{ post.title }}.</h2>
                            <p class="mt-4 text-mono-600 dark:text-mono-400">{{ post.content | safe |truncatewords_html:25 }}</p>
    
                            <div class="mt-8 flex items-center gap-4">
                                <img class="h-10 w-10 rounded-full" src="{{ post.user.get_profile_image }}" alt="user avatar" width="200" height="200" loading="lazy" />
                                <div>
                                    <h3 class="leading-0 text-lg font-medium text-mono-700 dark:text-mono-100">{{ post.user.name }}</h3>
                                    <p class="leading-0 -mt-0.5 text-sm text-mono-500 dark:text-mono-400">Staff</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        </div>
        </section>
        {% include 'component/footer/pagination.html' %}
{% endblock content %}