option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "takadah.settings.production"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "takadah.wsgi:application"

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 remote.py collectstatic --noinput"
    leader_only: true