{% extends 'base.html' %}
{% load static %}
{% block body %}
<body class="bg-mono-200 dark:bg-mono-900 text-mono-900 dark:text-mono-300 font-serif" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-data="{ sideBar: false }">
{% include "component/sidebar/base.html" %}
    <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
      <div class="sticky top-0 h-16 border-b bg-mono-50 dark:bg-mono-800 dark:border-mono-900 lg:py-2.5">
        <div class="flex items-center justify-between space-x-4 px-6 2xl:container">
          <h5 hidden class="text-2xl font-medium text-mono-600 lg:block dark:text-mono-100">
            {% block page-title %}
              {{ block.super }}
            {% endblock page-title %}</h5>
          <button class="-mr-2 h-16 w-12 border-r lg:hidden dark:border-mono-900 dark:text-mono-300" @click.stop="sideBar = true">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="my-auto h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
          <div class="flex space-x-4">
            <!--search bar -->
            <div hidden class="md:block">
              <div class="relative flex items-center text-mono-400 focus-within:text-cyan-400">
                <span class="absolute left-4 flex h-6 items-center border-r border-mono-300 pr-3 dark:border-mono-900">
                  <svg
                    xmlns="http://ww50w3.org/2000/svg"
                    class="w-4 fill-current"
                    viewBox="0 0 35.997 36.004"
                  >
                    <path
                      id="Icon_awesome-search"
                      data-name="search"
                      d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
                    ></path>
                  </svg>
                </span>
                <input
                  type="search"
                 {% if request.GET.q %}
                  value="{{ request.GET.q }}"
                  {% endif %}
                  hx-post="action="{% url 'watson:search' %}"
                  hx-trigger="keyup delay:500ms changed"
                  name="q"
                  id="q"
                  placeholder="Search here"
                  class="outline-none w-full rounded-xl border border-mono-300 py-2.5 pl-14 pr-4 text-sm text-mono-600 transition focus:border-cyan-300 dark:bg-mono-900 dark:border-mono-900"
                />
              </div>
            </div>
            <!--/search bar -->
            <button
              aria-label="search"
              class="h-10 w-10 rounded-xl border bg-mono-100 active:bg-mono-200 md:hidden dark:bg-mono-700 dark:border-mono-600 dark:active:bg-mono-800"
            >
              <svg
                xmlns="http://ww50w3.org/2000/svg"
                class="mx-auto w-4 fill-current text-mono-600 dark:text-mono-300"
                viewBox="0 0 35.997 36.004"
              >
                <path
                  id="Icon_awesome-search"
                  data-name="search"
                  d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
                ></path>
              </svg>
            </button>
            <button
              aria-label="chat"
              class="h-10 w-10 rounded-xl border bg-mono-100 active:bg-mono-200 dark:bg-mono-700 dark:border-mono-600 dark:active:bg-mono-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="m-auto h-5 w-5 text-mono-600 dark:text-mono-300"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
                />
              </svg>
            </button>
            <button
              aria-label="notification"
              class="h-10 w-10 rounded-xl border bg-mono-100 active:bg-mono-200 dark:bg-mono-700 dark:border-mono-600 dark:active:bg-mono-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="m-auto h-5 w-5 text-mono-600 dark:text-mono-300"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
  
      <div class="items-center justify-center px-6 pt-6 2xl:container min-h-screen">
        <section>
            <!-- Breadcrumbs -->
            {% if request.path != "/" %}
              <div class="text-sm breadcrumbs">
                <ul>
                <li><a href="{% url 'core:index' %}">Home</a></li> 
                {%block breadcrumbs %}
                {% endblock breadcrumbs %}
                </ul>
              </div>
              <!-- end breadcrumbs-->
            {% endif %}
        </section> 
        {% block content %}
        {{ block.super }}
        {% endblock content %}
        {% comment %} <div
          class="flex h-[80vh] items-center justify-center rounded-xl border-2 border-dashed border-mono-300 dark:border-mono-600"
        >
          <span class="dark:text-mono-100 container mx-auto">
            {% block content %}
            {{ block.super }}
            {% endblock content %}
          </span>
        </div> {% endcomment %}
        <section>
        <button
        class="sticky bottom-5 right-5 z-10 w-10 h-10 rounded-full bg-mono-800 flex justify-center items-center text-mono-100"
        id="theme-toggle"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.2256 2.00253C9.59172 1.94346 6.93894 2.9189 4.92893 4.92891C1.02369 8.83415 1.02369 15.1658 4.92893 19.071C8.83418 22.9763 15.1658 22.9763 19.0711 19.071C21.0811 17.061 22.0565 14.4082 21.9975 11.7743C21.9796 10.9772 21.8669 10.1818 21.6595 9.40643C21.0933 9.9488 20.5078 10.4276 19.9163 10.8425C18.5649 11.7906 17.1826 12.4053 15.9301 12.6837C14.0241 13.1072 12.7156 12.7156 12 12C11.2844 11.2844 10.8928 9.97588 11.3163 8.0699C11.5947 6.81738 12.2094 5.43511 13.1575 4.08368C13.5724 3.49221 14.0512 2.90664 14.5935 2.34046C13.8182 2.13305 13.0228 2.02041 12.2256 2.00253ZM17.6569 17.6568C18.9081 16.4056 19.6582 14.8431 19.9072 13.2186C16.3611 15.2643 12.638 15.4664 10.5858 13.4142C8.53361 11.362 8.73568 7.63895 10.7814 4.09281C9.1569 4.34184 7.59434 5.09193 6.34315 6.34313C3.21895 9.46732 3.21895 14.5326 6.34315 17.6568C9.46734 20.781 14.5327 20.781 17.6569 17.6568Z"
            fill="currentColor"
          />
        </svg>
      </button>
    </section>
      </div>
    </div>
    <script src="{% static 'js/alpine.min.js' %}" defer ></script>
    <script src="{% static 'js/htmx.min.js' %}" defer ></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
      <!-- Sidebar Backdrop -->
  <div class="fixed inset-0 z-10 w-screen h-screen bg-black bg-opacity-25 lg:hidden" x-show.transition="sideBar"
  x-cloak></div>
  </body>
                  
{% endblock body %}