{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
Password Reset
{% endblock title %}

{% block page-title %}
Password Reset
{% endblock page-title %}

{% block content %}
<span class="flex justify-end">{{ page.updated_at | timesince}}</span>
<div class="bg-white rounded shadow-blue-400 p-2 lg:p-8 max-w-md">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn bg-green-500 text-gray-200">Reset Password</button>
    </form>
</div>
{% endblock content %}