                <div class="">

<!-- unfollow <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 mr-2 stroke-current text-red-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
</svg> -->
                </div>

 <div class="btn btn-ghost" id="followstory">
        <button hx-get="{% url 'story:follow' story.id %}" id="follow-button" 
          hx-target="#followstory" hx-swap="outerHTML">
          {% if request.user in story.following.all %}
<svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 mr-2 stroke-current text-red-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
</svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 mr-2 stroke-current text-green-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
</svg>
          {% endif %}
        </button>
        : {{ story.following_count }}
</div>