{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
Edit:{{ form.title.value | title }}
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{% url 'author:dashboard' %}">Author</a></li> 
<li><a href="{{ story.story.get_absolute_url}}">{{ form.title.value | title }}</a></li> 
<li><a>Delete</a></li> 
{% endblock %}
{% block content %}
<!-- Story Detials -->
<section class="w-full">
    <h1>Do You want to Delete this story.</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% for formset in inlines %}
        {{ formset|crispy }}
        {% endfor %}
        <button type="submit" class="btn border-none bg-green-500 text-gray-50">Delete Story</button>
    </form>
</section>
{% endblock content %}