{% extends 'base.html' %}

{% block title %}
{{ categories.first.category.name | title }} Category
{% endblock title %}

{% block page-title %}
{{ categories.first.category.name | title }}
{% endblock page-title %}

{% block content %}
<div class="p-8 rounded bg-gray-50 shadow-blue-400">
    <main class="container">
        <div class="w-full">
            <div class="text-blue-700">
                {% for post in categories %}
                    <article class="bg-gray-50 p-8 rounded shadow-blue-500">
                        <time class="date">
                            {{ post.created_date }}
                        </time>
                        <h2><a href="{% url 'blog:post' category=post.category.slug slug=post.slug %}">{{ post.title }}</a></h2>
                        <p class="indent-4 hover:indent-8">{{ post.content|linebreaksbr | safe }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}