{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
Publish Story
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{% url 'stories:author:dashboard' %}">Author</a></li> 
<li><a>Publish Story</a></li> 
{% endblock %}
{% block content %}
<!-- Add Story -->
<section class="w-full">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form |crispy }}
        <button type ="submit" class="btn border-none bg-mono-500 text-mono-50 dark:bg-mono-200 dark:text-mono-500">Publish</button>
    </form>
</section>
{% endblock content %}