{% extends 'base.html' %}
{% load advert_tags %}
{% load tailwind_filters %}

{% block title %}
Edit: {{ story.title | title }}
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{{ story.story.story_type.get_absolute_url}}">{{ story.story.story_type.name }}</a></li> 
<li><a href="{{ story.story.get_absolute_url}}">{{ story.story.title }}</a></li> 
<li><a>{{ story.title }}</a></li> 
{% endblock %}
{% block content %}
<!-- Story Detials -->
<section class="w-full">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn border-none bg-mono-500 text-mono-50">Update</button>
    </form>
</section>
{% endblock content %}