{% extends 'base.html' %}

{% block title %}
Blogs
{% endblock title %}

{% block page-title %}
Blogs
{% endblock page-title %}
{% block breadcrumbs %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a>Blog</a></li> 
{% endblock %}
{% block content %}
<div class="p-8 rounded bg-gray-50 text-sky-400 dark:bg-gray-800 dark:text-grey-200">
    <main class="container">
        <div class="row">
            <div class="col">
                {% for post in blogs %}
                    <article class="p-4 md:p-8">
                        <time class="date">
                            {{ post.published_date }}
                        </time>
                        <h2 class="text-2xl font-bold"><a href="{% url 'blog:post' category=post.category.slug slug=post.slug %}">{{ post.title }}</a></h2>
                        <p class="indent-4 hover:indent-8">{{ post.content | safe |truncatewords_html:50 }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
    <div class="pagination flex justify-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}