{% extends 'base.html' %}
{% load advert_tags %}

{% block title %}
{{ page.title | title }}
{% endblock title %}

{% block page-title %}
{{ page.title | title }}
{% endblock page-title %}
{% block breadcrumbs %}
<li><a href="{% url 'core:index' %}">Home</a></li>
{% if page.parent %}
<li><a href="{{ page.parent.get_absolute_url }}">Blog</a></li> 
{% endif %} 
<li><a>{{ page.title }}</a></li> 
{% endblock %}
{% block content %}
<span class="flex justify-end">Last Updated: {{ page.updated_at | timesince}}</span>
<div class="bg-gray-50 rounded shadow-blue-400 p-8">
    {% autoescape on %}
    {{ page.content | inject_advert:1  | safe}}
    {% endautoescape %}
</div>
{% endblock content %}