{% extends 'base.html' %}

{% block title %}
Takadah
{% endblock title %}
{% block breadcrumbs%}
{% endblock %}

{% block content %}

<section id="hero">
    {% comment %} <div class="hero min-h-screen bg-[#415F58] rounded" style="background-image: url(/images/stock/photo-1507358522600-9f71e620c44e.jpg);"> {% endcomment %}
        <div class="hero min-h-screen bg-[#415F58] rounded">
        {% comment %} <div class="hero-overlay bg-opacity-60"></div> {% endcomment %}
        <div class="hero-content text-center">
          <div class="">
            <h1 class="mb-5 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-[#E3E3E3]  text-center hover:text-[#E3E3E3]">Unleash your writing potential</h1>
            <p class="text-[#E3E3E3] text-sm"><b>Before Takadah:</b> Authors struggle to connect, lack support, and miss out on earning opportunities.</p>
            <p class="mb-5 text-[#E3E3E3] text-sm"><b>After Takadah:</b> Harness the power of community, boost your earning, and experience writing bliss.</p>
            <a href="{% url 'core:register' %}" class="btn btn-wide bg-white bg-[#415F58] text-[#415F58]">See the Difference</a>
            <p class="mb-5 text-[#E3E3E3] text-xs">100 authors, signed up in the last week alone!</p>
          </div>
        </div>
      </div>
</section>

<div class="">
    {% if weekly %}
    <!-- Weekly Featured -->
    <section id="weekly" class="block min-w-full max-w-full">
        <div class="text-2xl border-b-2 border-mono-600">Weekly Featured</div><br>
        <div class="flex flex-wrap -mx-1 lg:-mx-4">
            {% for story in weekly %}
            <!-- Column -->
            <div class="my-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">

                <!-- Article -->
                <article class="overflow-hidden hover:monoscale transition duration-300 ease-in-out">

                    <a href="{{ story.get_absolute_url}}">
                        <img alt="{{ story.title | lower }}"
                            class="block h-auto w-full {% if forloop.counter == 1 %}
                                object-contain items-center
                            {% endif %} hover:scale-80 hover:saturate-200 transition duration-300 ease-in-out rounded-lg shadow-lg "
                            src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}">
                    </a>

                    <header class="flex items-start justify-start leading-tight p-2 md:p-4">
                        <p class="text-xs font-bold">
                            <a class="no-underline hover:underline text-black text-xs" href="{{ story.get_absolute_url}}">
                                {{ story.title | title }}
                            </a>
                        </p>
                    </header>
                    <footer class="leading-none md:-mt-7 p-1 md:p-4">
                        <a class="no-underline hover:text-mono-400 text-mono-400"
                            href="{{ story.genre.first.get_absolute_url }}">
                            <p class="text-sm text-mono-300">
                                {{ story.genre.first.name }}
                            </p>
                        </a>
                    </footer>

                </article>
                <!-- END Article -->

            </div>
            <!-- END Column -->
            {% empty %}
            <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
            {% endfor %}
        </div>
    </section>
    <!-- end Weekly Featured -->
    {% endif %}

    {% if potential %}
    <!-- Potential -->
    <section id="potential">
        <div class="text-2xl border-b-2 border-mono-600">Pontential Stars</div><br>
    </section>
    <!-- end Potential -->
    {% endif %}
    {% if fresh %}
     <div class="">
    <section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 rounded" id="fresh">
        <!-- Card Grid -->
        <h3 class="text-md mb-2 font-bold ">Fresh Stories</h3>
        <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
            {% for story in fresh %}
            <!-- Card Item -->
            <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
                <!-- Clickable Area -->
                <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                    <figure class="h-64">
                        <!-- Image -->
                        <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                            class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                        <figcaption class="p-2 md:p-4 object-contain">
                            <!-- Title -->
                            <p
                                class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                                {{ story.title | title }}
                            </p>

                            <!-- Genre -->
                            <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                                {{ story.genre.first.name }}
                            </small>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {% empty %}
            <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
            {% endfor %}
        </div>
    </section>
</div>
    {% endif %}
    {% if prerelease %}

    <section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12" id="upcoming">
        <!-- Card Grid -->
        <h3 class="text-md mb-2 font-bold ">Upcoming Stories</h3>
        <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
            {% for story in prerelease %}
            <!-- Card Item -->
            <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
                <!-- Clickable Area -->
                <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                    <figure class="h-64">
                        <!-- Image -->
                        <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                            class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                        <figcaption class="p-2 md:p-4 object-contain">
                            <!-- Title -->
                            <p
                                class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                                {{ story.title | title }}
                            </p>

                            <!-- Genre -->
                            <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                                {{ story.genre.first.name }}
                            </small>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {% empty %}
            <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% if completed %}
    <!-- Completed -->
    <section id="completed" class="block min-w-full max-w-full mt-2 mb-2 rounded">
        <div class="text-2xl border-b-2 border-mono-600">Completed</div><br>
        <div class="flex flex-wrap -mx-1 lg:mx-4">
            {% for story in completed %}
            <!-- Column -->
            <div class="my-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">

                <!-- Article -->
                <article class="overflow-hidden hover:scale-110 transition duration-300 ease-in-out">

                    <a href="{{ story.get_absolute_url}}">
                        <img alt="{{ story.title | lower }}"
                            class="block h-48 w-full hover:scale-110 transition duration-300 ease-in-out rounded-lg shadow-lg "
                            src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}">
                    </a>

                    <header class="flex items-start justify-start leading-tight p-2 md:p-4">
                        <p class="text-sm font-bold">
                            <a class="no-underline hover:underline text-black" href="{{ story.get_absolute_url}}">
                                {{ story.title | title }}
                            </a>
                        </p>
                    </header>
                    <footer class="leading-none md:-mt-7 p-1 md:p-4">
                        <a class="no-underline hover:text-mono-400 text-mono-400"
                            href="{{ story.genre.first.get_absolute_url }}">
                            <p class="text-sm text-mono-300">
                                {{ story.genre.first.name }}
                            </p>
                        </a>
                    </footer>

                </article>
                <!-- END Article -->

            </div>
            <!-- END Column -->
            {% empty %}
            <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
            {% endfor %}
        </div>
    </section>
    <!-- end Completed -->
    {% endif %}
    {% if tags %}
    <!-- Tags -->
    <section id="potential">
        <div class="text-2xl border-b-2 border-mono-600">Popular Tags</div><br>
    </section>
    <!-- end Tags -->
    {% endif %}
    {% comment %} <section>
        <a href="{{ story.get_absolute_url}}">
            <div class="relative h-0 pb-[146%]">
                <div>
                    <span
                        class="MuiSkeleton-root MuiSkeleton-rectangular MuiSkeleton-wave MuiSkeleton-withChildren MuiSkeleton-fitContent MuiSkeleton-heightAuto absolute top-0 left-0 w-full h-full max-w-none rounded-[6px] bg-[#e9e9e9] dark:bg-[#2a2a2a] ww-4bfvrx">
                        <div class="absolute top-0 left-0 w-full h-full bg-skins-bookcover rounded-r-5">
                        </div>
                        <div
                            class="absolute top-0 left-0 w-full h-full bg-[url('{{ story.get_cover }}')] bg-[length:100%_100%]">
                        </div>
                    </span>
                </div>
            </div>
        </a>
        <div class="px-4 pt-4 text-mono-800 dark:text-mono-300">
            <div class="flex flex-col">
                <span
                    class="MuiSkeleton-root MuiSkeleton-rectangular MuiSkeleton-wave MuiSkeleton-withChildren MuiSkeleton-fitContent MuiSkeleton-heightAuto max-w-[100%] bg-transparent bg-[#e9e9e9] bg-gradient-to-r from-[#f1f1f1] to-[#e9e9e9] dark:bg-[#2a2a2a] dark:from-[#333] dark:to-[#2a2a2a] sm:mx-0 mt-4 h-12 last:w-96 md:h-14 ww-4bfvrx">
                    <a class="line-clamp-2 font-set-sb13 md:font-set-sb15" href="{{ story.get_absolute_url}}">{{
                        story.title | title }}</a>
                </span>
                <span
                    class="MuiSkeleton-root MuiSkeleton-rectangular MuiSkeleton-wave max-w-[100%] bg-transparent bg-[#e9e9e9] bg-gradient-to-r from-[#f1f1f1] to-[#e9e9e9] dark:bg-[#2a2a2a] dark:from-[#333] dark:to-[#2a2a2a] sm:mx-0 mt-4 h-12 last:w-96 md:h-14 ww-1cuzdvz">
                    {{ story.genre.first.name }}
                </span>
            </div>
        </div>
    </section> {% endcomment %}
</div>
<!-- fan fiction -->
{% if fanfiction %}
<section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded"
    id="{{ fanfiction.first.story_type.slug }}">
    <!-- Card Grid -->
    <h3 class="text-md mb-2 font-bold ">{{ fanfiction.first.story_type.name|title }}</h3>
    <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
        {% for story in fanfiction %}
        <!-- Card Item -->
        <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
            <!-- Clickable Area -->
            <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                <figure class="h-64">
                    <!-- Image -->
                    <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                        class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                    <figcaption class="p-2 md:p-4 object-contain">
                        <!-- Title -->
                        <p
                            class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                            {{ story.title | title }}
                        </p>

                        <!-- Genre -->
                        <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                            {{ story.genre.first.name }}
                        </small>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- fiction -->
{% if fiction %}
<section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded"
    id="{{ fiction.first.story_type.slug }}">
    <!-- Card Grid -->
    <h3 class="text-md mb-2 font-bold ">{{ fiction.first.story_type.name|title }}</h3>
    <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
        {% for story in fiction %}
        <!-- Card Item -->
        <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
            <!-- Clickable Area -->
            <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                <figure class="h-64">
                    <!-- Image -->
                    <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                        class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                    <figcaption class="p-2 md:p-4 object-contain">
                        <!-- Title -->
                        <p
                            class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                            {{ story.title | title }}
                        </p>

                        <!-- Genre -->
                        <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                            {{ story.genre.first.name }}
                        </small>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- non fiction -->
{% if nonfiction %}
<section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded"
    id="{{ nonfiction.first.story_type.slug }}">
    <!-- Card Grid -->
    <h3 class="text-md mb-2 font-bold ">{{ nonfiction.first.story_type.name|title }}</h3>
    <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
        {% for story in nonfiction %}
        <!-- Card Item -->
        <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
            <!-- Clickable Area -->
            <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                <figure class="h-64">
                    <!-- Image -->
                    <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                        class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                    <figcaption class="p-2 md:p-4 object-contain">
                        <!-- Title -->
                        <p
                            class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                            {{ story.title | title }}
                        </p>

                        <!-- Genre -->
                        <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                            {{ story.genre.first.name }}
                        </small>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- peotry -->
{% if peotry %}
<section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded"
    id="{{ peotry.first.story_type.slug }}">
    <!-- Card Grid -->
    <h3 class="text-md mb-2 font-bold ">{{ peotry.first.story_type.name|title }}</h3>
    <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
        {% for story in peotry %}
        <!-- Card Item -->
        <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
            <!-- Clickable Area -->
            <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                <figure class="h-64">
                    <!-- Image -->
                    <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                        class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                    <figcaption class="p-2 md:p-4 object-contain">
                        <!-- Title -->
                        <p
                            class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                            {{ story.title | title }}
                        </p>

                        <!-- Genre -->
                        <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                            {{ story.genre.first.name }}
                        </small>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- plays -->
{% if plays %}
<section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded"
    id="{{ plays.first.story_type.slug }}">
    <!-- Card Grid -->
    <h3 class="text-md mb-2 font-bold ">{{ plays.first.story_type.name|title }}</h3>
    <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
        {% for story in plays %}
        <!-- Card Item -->
        <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
            <!-- Clickable Area -->
            <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                <figure class="h-64">
                    <!-- Image -->
                    <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                        class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 hover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                    <figcaption class="p-2 md:p-4 object-contain">
                        <!-- Title -->
                        <p
                            class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                            {{ story.title | title }}
                        </p>

                        <!-- Genre -->
                        <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                            {{ story.genre.first.name }}
                        </small>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- web novel -->
{% if webnovel %}
<section class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded"
    id="{{ webnovel.first.story_type.slug }}">
    <!-- Card Grid -->
    <h3 class="text-md mb-2 font-bold ">{{ webnovel.first.story_type.name|title }}</h3>
    <div class="grid grid-flow-row gap-2 text-neutral-600 grid-cols-1 md:grid-cols-3 lg:grid-cols-6 m-2">
        {% for story in webnovel %}
        <!-- Card Item -->
        <div class="h-80 m-4 {% if forloop.first %}col-span-auto md:col-span-2 {% endif %}
                {% if forloop.last %}col-end-auto {%  endif %}  my-8">
            <!-- Clickable Area -->
            <a href="{{ story.get_absolute_url}}" class="cursor-pointer">
                <figure class="h-64">
                    <!-- Image -->
                    <img alt="{{ story.title | lower }}" src="{% if forloop.first %}{{ story.get_first_cover }} {% else %} {{ story.get_cover }} {% endif %}"
                        class="rounded-t h-64 w-full hover:scale-95 {% if forloop.first %}object-contain object-fill items-center{% else %}object-fill {% endif %}  hover:saturate-200 /hhover:rounded-lg transition duration-300 ease-in-out rounded-lg shadow-lg" />

                    <figcaption class="p-2 md:p-4 object-contain">
                        <!-- Title -->
                        <p
                            class="text-xs md:text-md lg:text-lg font-bold leading-relaxed text-mono-800 dark:text-mono-200">
                            {{ story.title | title }}
                        </p>

                        <!-- Genre -->
                        <small class="mt-4 leading-5 text-mono-500 dark:text-mono-400">
                            {{ story.genre.first.name }}
                        </small>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% empty %}
        <h3 class="flex justify-center">No Novel read yet, do you need help?</h3>
        {% endfor %}
    </div>
</section>
{% endif %}
<section id="updated" class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded">
    <h2 class="text-md mb-2 font-bold ">Most Recently Updated</h2>
    <div class="overflow-x-auto">
        <table class="table table-xs">
          {% comment %} <!-- head -->
          <thead>
            <tr>
              <th>Title</th>
              <th>Chapter</th>
              <th>Time</th>
            </tr>
          </thead>
          {% endcomment %}
          <tbody> 
            {% for story in updated %}
            <!-- row 1 -->
            <tr class="bg-mono-100 dark:bg-mono-700 dark:text-mono-100">
                <td class="bg-mono-100 dark:bg-mono-700 dark:text-mono-100">
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask w-12 h-12">
                        <img src="{{ story.story.get_cover }}" alt="{{ story.story.title }}" />
                        </div>
                    </div>
                    <!-- Mobile view -->
                    <div class="visible lg:hidden w-full">
                        <div class="font-bold"><a href="{{ story.story.get_absolute_url }}">{{ story.story.title }}</a></div>
                        <div class="text-sm opacity-75"><a href="{{ story.get_absolute_url }}">Chapter: {{ story.position }} {{ story.title }}</a></div>
                        <div class="text-xs opacity-50">{{ story.released_at|timesince }}</div>
                    </div>
                    <!-- Pc View-->
                    <div class="hidden lg:block">
                        <div class="font-bold"><a href="{{ story.story.get_absolute_url }}">{{ story.story.title }}</a></div>
                        <div class="text-sm opacity-75">{{ story.user.name }}</div>
                        <div class="text-xs opacity-50">{{ story.story.story_type.name }}</div>
                      </div>
                </div>
            </td>
            <a href="{{ story.get_absolute_url }}" class="hidden lg:block">
                <td class="bg-mono-100 dark:bg-mono-700 dark:text-mono-100"> <a href="{{ story.get_absolute_url }}" class="hidden lg:block"> Chapter: {{ story.position }} {{ story.title }}</a></td>
                <td class="bg-mono-100 dark:bg-mono-700 dark:text-mono-100"> <a href="{{ story.get_absolute_url }}" class="hidden lg:block"> {{ story.released_at|timesince }}</a></td>
            </a>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</section>
<!-- FAQ -->
<section id="faq" class="bg-mono-100 dark:bg-mono-700 text-mono-800 dark:text-mono-100 py-10 px-12 mt-2 mb-2 rounded space-x-2 space-y-2">
    <h2 class="text-md mb-2 font-bold ">Questions You Might Have?</h2>

            {% comment %} {% for faq in faqs %}
            <div class="collapse collapse-plus bg-mono-50 dark:bg-mono-600 text-mono-800 dark:text-mono-100">
                <!-- if first marked the checked -->
                <input type="radio" name="faq" checked="checked" > 
                <div class="collapse-title text-xl font-medium">
                  {{ faq.question }}
                </div>
                <div class="collapse-content"> 
                  <p>{{ faq.answer }}</p>
                </div>
              </div>
            {% endfor %} {% endcomment %}
            <div class="collapse collapse-plus bg-mono-50 dark:bg-mono-600 text-mono-800 dark:text-mono-100">
                <input type="radio" name="faq"> 
                <div class="collapse-title text-xl font-medium">
                    What is Takadah?
                </div>
                <div class="collapse-content"> 
                  <p>Takadah is a publishing platform designed for fan fiction, novels, and non-fiction books. It provides a space for new and self-published authors to showcase their work, build a community around their stories, and earn from sponsorship by interested readers.</p>
                </div>
              </div>
              <div class="collapse collapse-plus bg-mono-50 dark:bg-mono-600 text-mono-800 dark:text-mono-100">
                <input type="radio" name="faq"> 
                <div class="collapse-title text-xl font-medium">
                    Can I earn money as an author on Takadah?
                </div>
                <div class="collapse-content"> 
                  <p>Yes, through the sponsorship feature, interested readers can sponsor authors and contribute financially to their creative journey. This provides authors with the opportunity to earn from their work and continue producing engaging content for their readers.</p>
                </div>
              </div>
              <div class="collapse collapse-plus bg-mono-50 dark:bg-mono-600 text-mono-800 dark:text-mono-100">
                <input type="radio" name="faq"> 
                <div class="collapse-title text-xl font-medium">
                    How can I support my favorite authors on Takadah?
                </div>
                <div class="collapse-content"> 
                  <p>You can support your favorite authors on Takadah by sponsoring them. By sponsoring an author, you gain access to advanced chapters and help them continue creating the stories you love. It's a rewarding way to engage with authors and be part of their writing journey.</p>
                </div>
              </div>
              <div class="collapse collapse-plus bg-mono-50 dark:bg-mono-600 text-mono-800 dark:text-mono-100">
                <input type="radio" name="faq"> 
                <div class="collapse-title text-xl font-medium">
                    Can I read stories on Takadah without sponsoring an author?
                </div>
                <div class="collapse-content"> 
                  <p>Yes, you can read stories on Takadah without sponsoring an author. While sponsoring provides access to advanced chapters and additional perks, all users can enjoy a wide range of stories from various genres on the platform.</p>
                </div>
              </div>
              <div class="collapse collapse-plus bg-mono-50 dark:bg-mono-600 text-mono-800 dark:text-mono-100">
                <input type="radio" name="faq"> 
                <div class="collapse-title text-xl font-medium">
                    How can I discover new books and authors on Takadah?
                </div>
                <div class="collapse-content"> 
                  <p>Takadah offers various ways to discover new books and authors. You can explore different genres, browse through popular titles, and engage with the Takadah community to get recommendations. Additionally, the platform's search and recommendation features help you find stories tailored to your interests.</p>
                </div>
              </div>
</section>
{% endblock content %}