 {% extends 'base.html' %}
{% load flag_tags %}
{% block title %}
{{ story.title | title }}
{% endblock title %}
{% block breadcrumbs %}
<li><a href="{{ story.story_type.get_absolute_url}}">{{ story.story_type.name }}</a></li> 
<li><a>{{ story.title }}</a></li> 
{% endblock %}
{% block content %}
<!--  Story Detials -->
<section class="w-full">
    <div class="md:flex md:hover:flex-auto">
        <div class="md:w-1/6 w-full">
            <img class="aspect-square hover:saturate-200 transition duration-300 ease-in-out shadow-lg rounded max-w-50 h-auto align-middle border-none" src="{{ story.get_cover }}"/>
        </div>
        <div class="w-full md:w-5/6 p-2 mx-auto">
            <span>
                {% render_flag_form story user request %}
                </span>
            <div class="md:flex space-x-2 flex-wrap">
                <h1 class="text-2xl md:text-5xl dark:text-mono-100">{{ story.title | title }}</h1>
                <span class="badge p-4 bg-black">{{ story.abbreviation }}</span>
            </div>
            <!-- genre status chapter views-->
            <div class="md:flex space-x-2 flex-wrap justify justify-space">
                <div class="p-2">
                    {% for genre in story.genre.all %}
                    <span class="badge badge-accent bg-rebel-300 p-3 border-0"> 
                        <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                    </span>
                {% endfor %}
                </div>
                <div class="p-2">
                    {{ story.status | title }}
                </div>
                <div class="p-2">
                    {{ story.chapters_count  }} Chapter{{ story.chapters_count |pluralize }} Released
                </div>
               <div class="p-2">
                   {{ story.review_count  }} Review{{ story.review_count |pluralize }}
                </div>
            </div>
            <div class="flex space-x-2 flex-wrap">
                <div class="p-2">
                    Author{{ story.authors_count |pluralize }}: 
                    {% for author in story.author.all %}
                        <span class="badge badge-accent bg-mono-400 border-0"> 
                            <a href="{% url 'core:author' author.username %}">{{ author.name }}</a>
                        </span>
                    {% empty %}
                        <span class="badge-accent"> 
                            Ghost Author
                        </span>
                    {% endfor %}
                </div>
                <div class="">
                    Editor{{ story.editors_count |pluralize }}: {{ story.editor.name | default:"Ghost" }}
                </div>
            </div>
            <div class="px-2 md:p-0 flex space-x-2 flex-wrap">
                {% include "stories/partials/following.html" %}
                {% include "stories/partials/like.html" %}
                {% include "stories/partials/dislike.html" %}
            </div>
            <div class="w-full flex flex-wrap space-x-2">
                {% if user.is_authenticated %}
                <a href="{{ story.get_read_user }}" class="btn btn-primary border-none rounded">Continue Reading</a>
                {% else %}
                <a href="{{ story.get_read_guest }}" class="btn btn-primary border-none rounded">Read</a>
                {% endif %}

                {% include "stories/partials/bookmark.html" %}
            </div>
            {% if user in story.author.all %}
            <div class="w-full flex flex-wrap space-x-2 mt-2">
                <a href="{% url 'stories:author:show' story.id %}" class="btn hover:bg-rebel-500 border-none rounded">Edit the Story</a>
                {% comment %} <a href="{% url 'stories:author:create-chapter' story.id %}" class="btn hover:bg-rebel-500 border-none rounded">Add New Chapter</a> {% endcomment %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<div class="bg-mono-50 rounded shadow-mono-600 p-2 lg:p-8 mt-2 dark:bg-mono-700">
    <section>
    <div x-data="{
        tabs: [ 'About', 'Table of Content', 'Reviews'],
        activeTabIndex: 0
    }">
        <div class="tabs my-6">
            <template x-for="(tab, index) in tabs" :key="index">
                <a class="tab tab-bordered dark:text-mono-100" 
                    :class="{'tab-active': activeTabIndex == index}"
                    x-on:click="activeTabIndex = index"
                    x-text=tab
                ></a>
            </template>
        </div>
        <div class="my-6 p-6">
            <div x-show="activeTabIndex == 0">
                <div class="text-2xl dark:text-mono-100 text-mono-700">Synopsis</div>
            <div class="text-mono-600 dark:text-mono-200">
                {{ story.summary | safe }}
            </div>
            </div>
            <div x-show="activeTabIndex == 1">
                Latest Release： Chapter {{ story.chapters.last.position  }}: <a href="{{ story.chapter_set.last.get_absolute_url }}">{{ story.chapters.last.title | title }}</a> <div class="badge bg-mono-200 border-none p-4 text-mono-50">{{ story.chapter_set.last.created_at | timesince }}</div><hr class="mt-5">
                <div class="columns-2">
                {% for chapter in story.chapters.all %}
                <div class="p-4 block">
                    <div>
                        {{ chapter.position }} <a class="text-mono-800 dark:text-mono-200" href="{{ chapter.get_absolute_url }}">{{ chapter.title | title }}</a>
                    </div>
                    {% if user in story.author.all %}
                    <a class="btn btn-sm hover:bg-tiber-600 dark:bg-mono-400 border-none text-mono-100 m-2" href="{% url 'stories:author:update-chapter' story.id chapter.slug %}">Edit</a>
                    <a class="btn btn-sm hover:bg-rebel-500 dark:bg-mono-400 border-none text-mono-100 m-2" href="{% url 'stories:author:delete-chapter' story.id chapter.slug %}">Delete</a><br>
                    {% endif %}
                    <p class="text-xs text-tiber-400"> {{ chapter.released_at | timesince }} ago</p>
                </div>
                {% endfor %}
            </div>
            </div>
            <div x-show="activeTabIndex == 2">
                <div class="dark:text-mono-100 text-mono-700">
                   <h3 class="mt-2"> Reviews</h3>
                {% for review in story.reviews.all %}
                    {% include "stories/partials/review.html" %}
                {% endfor %}
        </div>
    </div>
</section>

    <section>
        <div class="text-2xl dark:text-mono-100 text-mono-700">Tags</div>
        {% for tag in story.tags.all %}
        <div class="badge bg-mono-300 border-none p-4">
            <a href="{% url 'stories:tag' tag.slug %}">{{ tag.name | title }}</a>
        </div>
        {% endfor %}
    </section>
    <section>
        
        <div class="text-2xl dark:text-mono-100 text-mono-700 mt-2">Recommendation</div>
        Recommendation
    </section>
{% endblock content %}