        <section class="m-2 p-8 bg-white dark:bg-grey-800 rounded shadow">
          <button type="button" hx-get="{% url 'author:add-editor' %}" hx-target="#authorforms" hx-swap="beforeend" class="btn border-none bg-green-500 text-gray-50">
            Add Co-Author
        </button>
        <div id="authorforms">
          {% for author in authors %}
          {% include 'stories/partials/author_details.html ' %}
          {% endfor %}
        </div>
        </section>
        <section class="m-2 p-8 bg-white dark:bg-grey-800 rounded shadow">
          <button type="button" hx-get="{% url 'author:add-editor' %}" hx-target="#editorforms" hx-swap="beforeend" class="btn border-none bg-green-500 text-gray-50">
            Add Editor
        </button>
        <div id="editorforms"></div>
        </section>
        <section class="m-2 p-8 bg-white dark:bg-grey-800 rounded shadow">
          <button type="button" hx-get="{% url 'author:add-character' %}" hx-target="#characterforms" hx-swap="beforeend" class="btn border-none bg-green-500 text-gray-50">
            Add Character
        </button>
        <div id="characterforms"></div>
        </section>