{% extends 'base.html' %}

{% block title %}
Anime
{% endblock title %}
{% block meta_title %}
Anime
{% endblock meta_title %}
{% block description %}
Watch your anime, without ads
{% endblock description %}
{% block breadcrumbs %}
<li><a>Anime</a></li>
{% endblock %}
{% block content %}
{% include 'component/search.html' %}
 <div class="row">
  	      	{% if anime_data_page %}
  	      	  	<div class="grid grid-cols-3 md:grid-cols-5 gap-2">
  	        	{% for anime in anime_data_page %}
                  <div>
                    <div class="card mb-4">
                      <a href="watch{{anime.latest_episode_url}}/720" target="_blank">
                        <img class="card-img-top h-64" src="{{ anime.picture_url }}" >
                      </a>
                        <a href="{% url 'anime:details' anime.category_url %}" target="_blank">
                          <h5 class="card-title text-lg break-words hyphens-auto">{{ anime.title }}</h5>
                        </a>
                        <p class="card-text">
                            <a href="watch{{anime.latest_episode_url}}/720" target="_blank">
                           <small class="badge">Latest Episode {{ anime.latest_episode_int }}</small>
                        </a>
                        </p>
                    </div>
                  </div>    
              {% endfor %}
            {% else %}
            </div>
  				    <p>No anime right now</p>
  			    {% endif %}
          </div>
          <section>
            {% include 'component/footer/pagination.html' with page_obj=anime_data_page %}
          </section>
          {% include 'component/upcoming.html' %}
{% endblock content %}